.transition-bg-color {
  transition: background-color 0.1s ease-in-out;
}

.bg-color-body {
  background-color: var(--color-body);
}
.bg-color-body-medium {
  background-color: var(--color-body-medium);
}
.bg-color-body-dark {
  background-color: var(--color-body-dark);
}

.bg-color-body-darker {
  background-color: var(--color-body-darker);
}

.bg-color-alt {
  background-color: var(--color-alt);
}
.bg-color-alt-medium {
  background-color: var(--color-alt-medium);
}
.bg-color-alt-dark {
  background-color: var(--color-alt-dark);
}

.bg-color-primary {
  background-color: var(--color-primary);
}
.bg-color-primary-medium {
  background-color: var(--color-primary-medium);
}
.bg-color-primary-dark {
  background-color: var(--color-primary-dark);
}

.color-text {
  color: var(--color-text);
}

.color-text-subtle {
  color: var(--color-text-subtle);
}
.color-text-subtler {
  color: var(--color-text-subtler);
}
.color-text-danger {
  color: var(--color-danger);
}
.color-text-invert {
  color: var(--color-text-invert);
}

.color-text-invert-medium {
  color: var(--color-text-invert-medium);
}
.color-text-invert-dark {
  color: var(--color-text-invert-dark);
}
.color-text-primary-light {
  color: var(--color-primary-light);
}
.color-text-primary {
  color: var(--color-primary);
}

.box-shadow-medium {
  box-shadow:
    0 3.2px 7.2px 0 black,
    0 0.6px 1.8px 0 black;
}
.box-shadow-heavy {
  box-shadow:
    var(--box-shadow-heavy) 0 6.4px 14.4px 0 rgba(0, 0, 0, 0.534),
    0 1.2px 3.6px 0 rgba(0, 0, 0, 0.486);
}
.box-shadow-extra-heavy {
  box-shadow:
    0 25.6px 57.6px 0 var(--theme-box-shadow-extra-heavy),
    0 4.8px 14.4px 0 var(--theme-box-shadow-heavy);
}
