/* Font weight */
.font-weight-semilight {
  font-weight: 200;
}
.font-weight-light {
  font-weight: 100;
}

.font-weight-normal {
  font-weight: var(--font-weight-normal);
}

.font-weight-bold {
  font-weight: 700;
}

.font-weight-semibold {
  font-weight: 600;
}
/* Font size */
.font-size-xxs {
  font-size: 0.5rem;
}
.font-size-xs {
  font-size: 0.75rem;
}
.font-size-sm {
  font-size: 0.9rem;
}
.font-size-md {
  font-size: 1rem;
}
.font-size-lg {
  font-size: 1.5rem;
}
.font-size-xl {
  font-size: 3rem;
}
.font-size-xxl {
  font-size: 4em;
}

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.line-height-normal {
  line-height: normal;
}
.line-height-sm {
  line-height: 1;
}

.letter-spacing-wide {
  letter-spacing: 0.2rem;
}
.text-decoration-underline {
  text-decoration: underline;
}