
GOOGLE_OAUTH_CLIENT_ID=""
GOOGLE_OAUTH_CLIENT_SECRET=""

SMTP_HOST=""
SMTP_PORT="587"
SMTP_EMAIL=""
SMTP_PASSWORD =""

JWT_ACCESS_KEY=""
JWT_REFRESH_KEY=""
JWT_ISSUER=""

PG_USERNAME=""
PG_PASSWORD=""
PG_DATABASE=""

AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""

