# .dockerignore

#main
#test
#bin
#dist

.git
.gitignore


node_modules
.wrangler

# env files
.env.*
.env

config.dev.*

Dockerfile*
.dockerignore
docker-compose.yml

.vscode
.idea

# ignore test go files
**/*_test.go