input[type="range"]::-webkit-slider-thumb,
input[type="range"]::-moz-range-thumb {
  /* border-radius: .25rem; */
  cursor: pointer;
}

form,
.form {
}

/* Input */
input,
.input {
}
input:invalid,
.input:invalid {
  border: 1px solid var(--color-danger);
}
.input-danger {
}

.input-sm {
}

.input-lg {
}

.input-danger {
}
input[type="range"] {
  accent-color: green;
}
/* Textarea */
textarea,
.text-area {
}
.slider {
  -webkit-appearance: none;
  appearance: none;

  height: 0.25rem;
  border-radius: 5px;
  width: 100%;
}

.slider:hover {
  opacity: 1;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
}
.slider::-webkit-slider-thumb,
.slider::-moz-range-thumb {
  border: none;
  border-radius: 50%;
  cursor: pointer;

  background-color: var(--color-primary);
}
.slider::-moz-range-progress {
  background-color: var(--color-primary);
}
