.popover,
.popover-bottom {
  display: inline-block;
  cursor: pointer;
  position: relative;
  z-index: 1000;
}

.popover summary {
  list-style: none;
}

.popover-content {
  visibility: hidden;
  position: absolute;

  top: var(--navbar-height);
}
.popover-left {
  right: 0;
}
.popover-right {
  left: 0;
}
.popover:hover .popover-content {
  visibility: visible;
}

.popover-bottom {
}

.popover-top {
}

.player-popover {
}
/* .player-popover summary {
  list-style-type: none;
} */
/* .player-popover * {
  list-style-type: none;
} */
/* .player-popover-content {
  visibility: hidden;
}
.player-popover:hover .player-popover-content {
  visibility: visible; */

